<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.design5.dao.ContactDao">
    <select id="getContacts" resultType="com.zhou.design5.pojo.ContactPerson">
        select * from contacts
    </select>

    <insert id="addContact">
        insert into contacts (name,phone_number,email)
        VALUES (#{name},#{phoneNumber},#{email})
    </insert>

    <update id="updateContact">
        update contacts SET name = #{name},phone_number=#{phoneNumber}, email=#{email} WHERE eid=#{eid}
    </update>

    <select id="findByName" resultType="com.zhou.design5.pojo.ContactPerson">
        select * from contacts WHERE name LIKE BINARY #{name}
    </select>
    <select id="findByPhone" resultType="com.zhou.design5.pojo.ContactPerson">
        select * from contacts WHERE phone_number LIKE #{phone}
    </select>
    <select id="findByEmail" resultType="com.zhou.design5.pojo.ContactPerson">
        select * from contacts WHERE email LIKE #{email}
    </select>
    <delete id="deleteContact">
        delete * from contacts WHERE eid=#{eid}
    </delete>
</mapper>