<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.design6.dao.CityDao">
    <select id="getAllCityList" resultType="com.example.design6.pojo.City">
        select * from city
    </select>
    <select id="getAllCityArray" resultType="com.example.design6.pojo.City">
        select * from city
    </select>
</mapper>