<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.design6.dao.TrainTimeDao">
    <select id="getAllTrainTime" resultType="com.example.design6.pojo.TrainTime">
        select * from traintime
    </select>
    <select id="getTrainTimeByRoute" resultType="com.example.design6.pojo.TrainTime">
        select * from traintime where route_id=#{routeId}
    </select>
</mapper>